
        <table class="table table-dark my-3 text-center align-middle">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price (INR)</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                        <tr>
                            <th scope="row"><%= product.id %></th>
                            <td><%= product.name %></td>
                            <td><%= product.desc %></td>
                            <td><%= parseFloat(product.price).toFixed(2) %></td>
                            <td>
                                <img src="<%= product.imageUrl %>" alt="<%= product.imageAlt %>">
                            </td>
                            <td>
                                <a href="/update-product/<%= product.id %>" class="btn btn-warning">Edit</a>
                                <!-- <a href="/delete-product/<%= product.id %>" class="btn btn-danger">Delete</a> -->
                                 <button class="btn btn-danger" onclick="deleteProduct('<%= product.id %>')">Delete</button>
                            </td>
                        </tr>
                <% }); %>
                <!-- <tr>
                    <th scope="row">1</th>
                    <td>Atomic Habits</td>
                    <td>Tiny Changes, Remarkable Results.</td>
                    <td scope="col">491.00</td>
                    <td>
                        <img src="https://m.media-amazon.com/images/I/817HaeblezL._SY466_.jpg" alt="Atomic Habits: Tiny Changes, Remarkable Results">
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Ikigai</td>
                    <td>The Japanese secret to a long and happy life.</td>
                    <td scope="col">320.00</td>
                    <td>
                        <img src="https://m.media-amazon.com/images/I/81l3rZK4lnL._SY425_.jpg" alt="Ikigai: The Japanese secret to a long and happy life">
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Deep Work</td>
                    <td>RULES FOR FOCUSED SUCCESS IN A DISTRACTED WORLD.</td>
                    <td scope="col">281.00</td>
                    <td>
                        <img src="https://m.media-amazon.com/images/I/61zt25yYrCL._SY466_.jpg" alt="DEEP WORK: RULES FOR FOCUSED SUCCESS IN A DISTRACTED WORLD">
                    </td>
                </tr> -->
            </tbody>
        </table>
