<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="product.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <title>Products</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Inventory App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Products</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="container">
        <table class="table table-dark my-3">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price (INR)</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                        <tr>
                            <th scope="row"><%= product.id %></th>
                            <td><%= product.name %></td>
                            <td><%= product.desc %></td>
                            <td scope="col"><%= parseFloat(product.price).toFixed(2) %></td>
                            <td>
                                <img src="<%= product.imageUrl %>" alt="<%= product.imageAlt %>">
                            </td>
                        </tr>
                <% }); %>
                <!-- <tr>
                    <th scope="row">1</th>
                    <td>Atomic Habits</td>
                    <td>Tiny Changes, Remarkable Results.</td>
                    <td scope="col">491.00</td>
                    <td>
                        <img src="https://m.media-amazon.com/images/I/817HaeblezL._SY466_.jpg" alt="Atomic Habits: Tiny Changes, Remarkable Results">
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Ikigai</td>
                    <td>The Japanese secret to a long and happy life.</td>
                    <td scope="col">320.00</td>
                    <td>
                        <img src="https://m.media-amazon.com/images/I/81l3rZK4lnL._SY425_.jpg" alt="Ikigai: The Japanese secret to a long and happy life">
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Deep Work</td>
                    <td>RULES FOR FOCUSED SUCCESS IN A DISTRACTED WORLD.</td>
                    <td scope="col">281.00</td>
                    <td>
                        <img src="https://m.media-amazon.com/images/I/61zt25yYrCL._SY466_.jpg" alt="DEEP WORK: RULES FOR FOCUSED SUCCESS IN A DISTRACTED WORLD">
                    </td>
                </tr> -->
            </tbody>
        </table>
    </section>
</body>
</html>